body {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    grid-column: 1/10;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: blue;
}
h1 {
    font-size: 70px;
    margin: 0;
    padding-left: 15px;
}

nav {
    grid-column: 10/-1;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
a {
    font-size: 25px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 15px 15px 0px 0px;
    text-decoration: none;
}

main {
    grid-column: 1/-1;
    border: 8px solid black;
}
main > button {
    background-color: black;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
div {
    padding: 25px;
    width: 40%;
    display: inline-block;
}

footer {
    grid-column: 1/-1;
    background-color: black;
    height: 50px;
}
h6 {
    color: white;
    text-align: center;
}