li {
    margin: 10px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
body {
    width: 50%;
    margin: auto;
}
ol {
    display: flex;
    flex-direction: column;
}